.abc{
    background-image: url("https://img.freepik.com/free-vector/matrix-style-binary-code-digital-background-with-falling-numbers_1017-25336.jpg?w=1380&t=st=1705491730~exp=1705492330~hmac=8f331dd23ea552867ce586cfa0edf9f82b6c98229fb8f861aa174b122bc0e491");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    color: white;
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #48ee59;
    text-align: center;
    padding:  20px;
    font-style: Bree Serif;
    background-color: #00000080;
    
}